html
  head
    title Mile-End Roulette
    link(rel='stylesheet', href='style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  body
    .wrap
      .header
        h1 Mile-End Roulette
      .body
        h2 Welcome to the Mile-End roulette!
        p Feeling hungry? Thirsty? Both? Can't decide where to go? Play the Mile-End roulette!
        - list = ["hungry", "thirsty", "both"]
        each item in list
          .button
            button(id=item)= "I'M " + item.toUpperCase()
          h1(id='resultname'+item)
          h2(id='resultaddress'+item)
        //-h2 List of restaurants available:
        //-ul
          //-for restaurant in data.restaurants
            //-li= restaurant.name
      .footer
        p Created with love in Montreal by Mister D.

      script.
        function btn(state) {
          $('#'+state).click(function() {
            $.get('/'+state+'/random', function(data) {
              $('#resultname'+state).html(data.name);
              $('#resultaddress'+state).html('('+data.address+')');
              });
          });
        }

        btn('hungry');
        btn('thirsty');
        btn('both');
