html
  head
    title Mile-End Roulette
    link(rel='stylesheet', href='style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  body
    .wrap
      .header
        h1 Mile-End Roulette
      .body
        h2 Welcome to the Mile-End roulette!
        p Feeling hungry? Thirsty? Both? Can't decide where to go? Play the Mile-End roulette!
        .button
          button#hungry I'M HUNGRY!
        h1#resulth
        .button
          button#thirsty I'M THIRSTY!
        h1#resultt
        .button
          button#both I'M BOTH!
        h1#resultb
        //-h2 List of restaurants available:
        //-ul
          //-for restaurant in data.restaurants
            //-li= restaurant.name
      .footer
        p Created with love in Montreal by Mister D.

      script.
        $("#hungry").click(function() {
          $.get('/hungry', function(data) {
            $('#resulth').html(data.name);
            });
        });
        $("#thirsty").click(function() {
          $.get('/thirsty', function(data) {
            $('#resultt').html(data.name);
            });
        });
        $("#both").click(function() {
          $.get('/both', function(data) {
            $('#resultb').html(data.name);
            });
        });
