html
  head
    title Mile End Roulette
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='https://cdn.rawgit.com/jgthms/bulma/master/css/bulma.min.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  body
    .wrap.content
      header.header.is-centered
        h1.title.is-1
          .content Mile End Roulette

      section.section.is-centered
        h2.title.is-2 Welcome to the Mile End roulette!
        p Feeling hungry? Thirsty? Both? Can't decide where to go? Play the Mile End roulette!

        mixin button(item, icon)
          .content
            a.button.is-large(id=item)= "I'M " + item.toUpperCase()
              i.fa(class=icon)
            .title(id='resultname'+item)
            .subtitle(id='resultaddress'+item)

        +button('hungry', 'fa-cutlery')
        +button('thirsty', 'fa-beer')
        +button('both', 'fa-glass')

      footer.footer
        .content.is-centered
          p Created with love in Montreal by Mister D.

      script.
        function btn(state) {
          $('#'+state).click(function() {
            $.get('/'+state+'/random', function(data) {
              $('#resultname'+state).html(data.name);
              $('#resultaddress'+state).html('('+data.address+')');
              });
          });
        }

        btn('hungry');
        btn('thirsty');
        btn('both');
