html
  head
    title Mile-End Roulette
    link(rel='stylesheet', href='style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  body
    .wrap
      .header
        h1 Mile-End Roulette
      .body
        h2 Welcome to the Mile-End roulette!
        p Feeling hungry? Thirsty? Both? Can't decide where to go? Play the Mile-End roulette!
        .button
          button#hungry I'M HUNGRY!
        h1#resulthn
        h2#resultha
        .button
          button#thirsty I'M THIRSTY!
        h1#resulttn
        h2#resultta
        .button
          button#both I'M BOTH!
        h1#resultbn
        h2#resultba
        //-h2 List of restaurants available:
        //-ul
          //-for restaurant in data.restaurants
            //-li= restaurant.name
      .footer
        p Created with love in Montreal by Mister D.

      script.
        $("#hungry").click(function() {
          $.get('/hungry/random', function(data) {
            $('#resulthn').html(data.name);
            $('#resultha').html('('+data.address+')');
            });
        });
        $("#thirsty").click(function() {
          $.get('/thirsty/random', function(data) {
            $('#resulttn').html(data.name);
            $('#resultta').html('('+data.address+')');
            });
        });
        $("#both").click(function() {
          $.get('/both/random', function(data) {
            $('#resultbn').html(data.name);
            $('#resultba').html('('+data.address+')');
            });
        });
