body {
  margin: 0;
  font-family: 'Georgia';
  background-color: #faf9f0;
  color: #444;
}
.wrap {
  background-color: #faf9f0;
}
.header {
  padding: 50px 10px;
  color: #fff;
  font-size: 25px;
  text-align: center;
  background-color: #609bed;
  border-bottom: 1px solid #1865d1;
  text-shadow: 0px -1px 0px #1865d1;
}
.body {
  padding: 20px;
  text-align: center;
}
.footer {
  width: 500px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  background-color: #faf9f0;
  font-size: 13px;
}
.button {
  margin-top: 50px;
  text-align: center;
}
button {
  background: #609bed;
  color: #fff;
  font-size: 20px;
  width: 150px;
  height: 50px;
}
